main-section{
    border: 1px solid black;
    background: white;
}


.user-detail{
    margin: -50px 0 30px 0;
}

img{
    height: 120px;
    width: 120px;
}
.user-details h5{
    margin:15px 0 5 px 0;
}